.grey-box{
    background-color: #F0F4F9;
}

.white-box{
    background-color: white;
}

.custom-bar{
    scrollbar-color: red white;
}

.shady{
    -webkit-box-shadow: 1px 5px 18px -5px rgba(168,168,168,1);
    -moz-box-shadow: 1px 5px 18px -5px rgba(168,168,168,1);
    box-shadow: 1px 5px 18px -5px rgba(168,168,168,1);
}

.roundy{
    border-radius: 20px;
}

.set-grid{
    display: grid;
}
.col-1{
    display: grid;
    grid-template-columns: 100vw;
}
.col-2{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.col-3{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.col-4{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    column-width: fill-available;
}

.col-4-main{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-width: fill-available;
}

.col-6{
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
}
.col-12{
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
}

.row-1{
    display: grid;
    grid-template-rows: 100vh;
}


.row-2{
    grid-template-rows: 1fr 1fr;
}
.row-3{
    grid-template-rows: repeat(3, 33.33%);
}

.row-6{
    display: grid;
    grid-template-rows: repeat(6, 16.6%);
}
.col-2-nav-layout{
    grid-template-columns: 8% 85%;
}

.justify-i-center{
    justify-items: center;
}

.justify-i-start{
    justify-items: start;
}

@media screen and (min-width: 801px){
    .justify-s-right{
        justify-self: end;
    }
    .hide{
        display: none;
    }
}
@media screen and(max-width: 800px){
    .hide-sm{display: none !important;}

    .justify-s-sm-center{
        justify-self: center;
    }

}


.justify-s-center{
    justify-self: center;
}


.align-i-center{
    align-items: center;
}

.fix{
    position: fixed;
    width: 100%;    
    margin: 0;
    top: 0;
    padding: 0;
    height: 10%;
}



@media screen and (max-width: 800px){
    .col-s-1{
        display: grid;
        grid-template-columns: minmax(0, 800px);
    }

    .col-s-2{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }


    .col-s-3{
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
    }

    .justify-s-sm-base{
        justify-self: center;
    }

    .row-s-2-nav-layout{
        grid-template-rows: 10% 90%;
    }

    .row-s-3{
        grid-template-rows: repeat(3, 33.33%);     ;
    }

    .row-s-4{
         grid-template-rows: repeat(4, 25%);
     }

    .row-s-6{
        grid-template-rows: repeat(6, 16.6%);
    }
    .row-s-main-3{
        display: grid;
        grid-template-rows: 5vh 47.5vh 47.5vh;
        grid-row-gap: 10%;
        height: 100vh;
    }
}